<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styley.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="styley.css">
        <style type="text/css">
            .abc{
                  padding-bottom:30px;
                   background-image:url("reg1.jpg");
                   background-repeat: no-repeat;
                   background-size: 100% 100%;
                   margin-top: 0;     
            }
            .a
            {
             
           -webkit-box-shadow: -1px 4px 50px -15px rgba(0,0,0,0.75);
           -moz-box-shadow: -1px 4px 50px -15px rgba(0,0,0,0.75);
           box-shadow: -1px 4px 50px -15px rgba(0,0,0,0.75);
           background-color: white;
           font-family:Century Schoolbook;
           font-size:20px;
           padding:50px;
           border-radius: 10px;
           margin: 25px 500px 15px 0px; 
           width: auto;
           height: auto;
      
            }
            </style>
    </head>
    <body>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.js"></script>
  
 <nav class="navbar navbar-expand-lg sticky-top">
 <div class="container">
  <a class="navbar-brand" href="#">
  <img src="logo1.png" width="100" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler  navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="home.html">Home </a>
    </div>
    
    <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="login.html">Login</a>
      <a class="nav-item nav-link" href="register.html">Register</a>
    </div>
  </div>

</div>
</nav>




  <div class="abc" >  
            
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Register</li>
      </ol>
</nav>

            <div class="container">
            <div class="a" >
        
          <form action="register.jsp" name="SaveForm" method="post" >
            
            <div ng-app="regapp" ng-controller="ctrl1">
              <div class="row" style="margin-bottom:30px;"> 
                
                <div class="col-xs-5">
                    First Name <span style="color: red;">*</span>
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="text" name="fname" ng-model="fname" ng-pattern="/[a-zA-Z]/" required>
                </div>
                <div class="col-xs-4">
                   <span style="color:red" ng-show="SaveForm.fname.$dirty && SaveForm.fname.$invalid" class="ng-hide">   
                  Please Enter Valid First Name 
                 </span>
                </div>
            </div>
            
            <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-5">
                    Last Name <span style="color: red;">*</span>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" type="text" name="lname" ng-model="lname" ng-pattern="/[a-zA-Z]/" required > 
                </div>
                <span style="color:red" ng-show="SaveForm.lname.$dirty && SaveForm.lname.$invalid" class="ng-hide">   
                  Invalid Last Name 
                 </span>
            </div>

            <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-4">
                Mobile No <span style="color: red;">*</span>
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="text" name="mobileno" ng-model="mobileno" ng-pattern="/^[1-9]\d{9}/" required > 
                </div>
                <div class="col-xs-4">
                <span style="color:red" ng-show="SaveForm.mobileno.$dirty && SaveForm.mobileno.$invalid" class="ng-hide">   
                  Invalid Mobile Number 
                 </span>     
                </div>
            </div>

            <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-4">
                    Aadhaar No <span style="color: red;">*</span>
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="text" name="ano" ng-model="ano" ng-pattern="/\d{12}/" required > 
                </div>
                <div class="col-xs-4">
                  <span style="color:red" ng-show="SaveForm.ano.$dirty && SaveForm.ano.$invalid" class="ng-hide">   
                  Invalid Mobile Number 
                </span>
                </div>
            </div>
               
            <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-5">
                    PAN No <span style="color: red;">*</span>
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="text" name="pan" ng-model="pan" ng-pattern="/[a-zA-Z]{4}+\d{4}+[0-9]{1}/" required > 
                </div>
                <div class="col-xs-4">
                  <span style="color:red" ng-show="SaveForm.pan.$dirty && SaveForm.pan.$invalid" class="ng-hide">   
                  Invalid Mobile Number 
                </span>
                </div>
            </div>
               <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-5">
                    Email Id <span style="color: red;">*</span>
                </div>
                <div class="col-xs-4">
                    <input class="form-control" type="email" name="email" required > 
                </div>
            </div>
               <div class="row" style="margin-bottom:30px;">
                <div class="col-xs-4">
                   Password <span style="color: red;">*</span>
                </div>
                <div class="col-xs-6">
                    <input class="form-control" type="password" name="password" ng-model="password" ng-pattern="/^[A-Z]+[a-zA-Z0-9!@#$&()\\-`.+,\/]{6,}/"  required > </div>
                 <span style="color:red" ng-show="SaveForm.password.$dirty && SaveForm.password.$invalid" class="ng-hide">   
                  [Should start with capital letter,contain one special character and be atleast 6 characters long] 
                </span>

            </div>
            <center>
                <input type="submit" class="btn-outline-danger btn" value="Register">
                
            </center>
          </div>
          </form>
        </div>
        </div>
        </div>


<div class="footer">
  <div class="container">
    <div class="section">
      <ul style="list-style-type: none; z-index: 1;">
        <li class="l1" style="color:#777;">About us</li>
        <li>Mission</li>
        <li>CSR Activities</li>
        <li>History</li>
      </ul>
    </div>

    <div class="section">
      <ul style="list-style-type: none; z-index: 1;">
        <li class="l1" style="color:#777;">Services</li>
        <li>Withdrawal of money</li>
        <li>Deposit of money</li>
        <li>Transfer of money</li>
      </ul>
    </div>

    <div class="section">
      <ul style="list-style-type: none;">
        <li class="l1" style="color:#777; z-index: 1;">Customer Relation</li>
        <li>Call support</li>
        <li>Mailing adress</li>
        <li>Location</li>
      </ul>
    </div>

        
    <div class="section">
      <ul style="list-style-type: none;">
        <li class="l1" style="color:#777; z-index: 1;">Finances</li>
        <li>Investment Schemes</li>
        <li>Funds</li>
        <li>Stock options</li>
      </ul>
    </div>        
                <div class="social">
      <h4>Connect with us</h4>
      <ul id="sprite">
              <li class="fa fa-facebook"></li>
              <li class="fa fa-twitter"></li>
              <li class="fa fa-google-plus"></li>
              <li class="fa fa-instagram"></li>
            </ul> 
    
    </div>
  </div>
</div> 
    </body>
</html>
